<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ActiTime Cucumber Automation">
   <test name="Test SCenarios">
   		<classes>
   			<class name="com.sgtesting.actitime.testsuite.DriverScript"></class>
   		</classes>
   </test>
</suite>